//! **************************************************************************
// Written by: Map P.20131013 on Wed Mar 09 18:45:29 2016
//! **************************************************************************

SCHEMATIC START;
COMP "SPIMISO" LOCATE = SITE "N10" LEVEL 1;
COMP "SPIMOSI" LOCATE = SITE "T4" LEVEL 1;
COMP "SW0" LOCATE = SITE "L13" LEVEL 1;
COMP "SW1" LOCATE = SITE "L14" LEVEL 1;
COMP "CCLK" LOCATE = SITE "C9" LEVEL 1;
COMP "LED0" LOCATE = SITE "F12" LEVEL 1;
COMP "BTN0" LOCATE = SITE "V4" LEVEL 1;
COMP "LED1" LOCATE = SITE "E12" LEVEL 1;
COMP "BTN1" LOCATE = SITE "H13" LEVEL 1;
COMP "LED2" LOCATE = SITE "E11" LEVEL 1;
COMP "LED3" LOCATE = SITE "F11" LEVEL 1;
COMP "LED4" LOCATE = SITE "C11" LEVEL 1;
COMP "LED5" LOCATE = SITE "D11" LEVEL 1;
COMP "LED6" LOCATE = SITE "E9" LEVEL 1;
COMP "LED7" LOCATE = SITE "F9" LEVEL 1;
COMP "SFCE" LOCATE = SITE "D16" LEVEL 1;
COMP "ADCON" LOCATE = SITE "P11" LEVEL 1;
COMP "DACCS" LOCATE = SITE "N8" LEVEL 1;
COMP "AMPCS" LOCATE = SITE "N7" LEVEL 1;
COMP "SPICS" LOCATE = SITE "U3" LEVEL 1;
COMP "FPGAIB" LOCATE = SITE "T3" LEVEL 1;
COMP "SPISCK" LOCATE = SITE "U16" LEVEL 1;
NET "CLKIN_IBUFG_OUT1" BEL "CLKIN_IBUFG_OUT_BUFG.GCLKMUX" USELOCALCONNECT;
NET "CLKIN_IBUFG_OUT1" PERIOD = 20 ns HIGH 40%;
SCHEMATIC END;

